body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148 {
  position:fixed;
  left:0px;
  top:0px;
}
#u148_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1349px;
  height:46px;
  background-image:none;
}
#u148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:46px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:46px;
}
#u150 {
  position:absolute;
  left:2px;
  top:15px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:1793px;
}
#u151 {
  position:absolute;
  left:0px;
  top:46px;
  width:1349px;
  height:1793px;
}
#u152 {
  position:absolute;
  left:2px;
  top:888px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
